# Output section
[Output]
# Output file name format
# %a - author
# %t - title
# %A - album
# %D - date
# %T - time
# example: %D/%a/%a-%t for track 'Paul Kalkbrenner - Dockyard' will 
# create following tree:
# 2013-01-01/
# └── Paul Kalkbrenner
#     └── Paul Kalkbrenner - Dockyard.mp3
name = "%a/%A/%a-%t"

# Output directory
# If empty current working directory will be used
dir = 

# Save as audio file
audio = yes

# Audio file format eg. mp3, wav etc
audio_format = mp3

# Save as video file
video = yes

# Twitter section
[Twitter]
# Indicates whether tweet should be removed after downloading 
# videoclip or music
remove_tweet = yes

# Authentication keys
# The consumer keys can be found on your application's Details
# page located at https://dev.twitter.com/apps (under "OAuth settings")
consumer_key = ""
consumer_secret = ""

# The access tokens can be found on your applications's Details
# page located at https://dev.twitter.com/apps (located 
# under "Your access token")
access_token = ""
access_token_secret = ""

